.body-relatorios {
  background-color: #f2f2f2;
  text-align: center;
}

.titulo {
  padding: 1em;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.form-container {
  display: inline-block;
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: var(--branco);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--cinza);
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--cinza);
  border-radius: 4px;
}

.form-container input[type="checkbox"] {
  margin-top: 5px;
}

.form-container button[type="submit"] {
  background-color: var(--azul);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: var(--azul-hover);
}

.form-container button[type="submit"]:focus {
  outline: none;
}

.subtitle {
  margin-top: 20px;
  color: #333;
}

.form-container:first-of-type {
  margin-top: 40px;
}
